<?php

declare(strict_types=1);

/*
 * WhatsAppCloudAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace WhatsAppCloudAPILib\Controllers;

use WhatsAppCloudAPILib\Exceptions\ApiException;
use WhatsAppCloudAPILib\ConfigurationInterface;
use WhatsAppCloudAPILib\ApiHelper;
use WhatsAppCloudAPILib\Models;
use WhatsAppCloudAPILib\Http\HttpRequest;
use WhatsAppCloudAPILib\Http\HttpResponse;
use WhatsAppCloudAPILib\Http\HttpMethod;
use WhatsAppCloudAPILib\Http\HttpContext;
use WhatsAppCloudAPILib\Http\HttpCallBack;
use Unirest\Request;

class BusinessProfilesController extends BaseController
{
    public function __construct(ConfigurationInterface $config, array $authManagers, ?HttpCallBack $httpCallBack)
    {
        parent::__construct($config, $authManagers, $httpCallBack);
    }

    /**
     * Use this endpoint to update your business’ profile information such as the business description,
     * email or address.
     *
     * @param string $phoneNumberID
     * @param Models\UpdateBusinessProfileRequest $body
     *
     * @return Models\SuccessResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function updateBusinessProfile(
        string $phoneNumberID,
        Models\UpdateBusinessProfileRequest $body
    ): Models\SuccessResponse {
        //prepare query string for API call
        $_queryUrl = $this->config->getBaseUri() . '/{Phone-Number-ID}/whatsapp_business_profile';

        //process template parameters
        $_queryUrl = ApiHelper::appendUrlWithTemplateParameters($_queryUrl, [
            'Phone-Number-ID' => $phoneNumberID,
        ]);

        //prepare headers
        $_headers = [
            'user-agent'    => self::$userAgent,
            'Accept'        => 'application/json',
            'Content-Type'    => 'application/json'
        ];

        //json encode body
        $_bodyJson = ApiHelper::serialize($body);

        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);

        // Apply authorization to request
        $this->getAuthManager('global')->apply($_httpRequest);

        //call on-before Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        // and invoke the API call request to fetch the response
        try {
            $response = Request::post($_httpRequest->getQueryUrl(), $_httpRequest->getHeaders(), $_bodyJson);
        } catch (\Unirest\Exception $ex) {
            throw new ApiException($ex->getMessage(), $_httpRequest);
        }


        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpRequest);
        return ApiHelper::mapClass($_httpRequest, $_httpResponse, $response->body, 'SuccessResponse');
    }

    /**
     * Use this endpoint to retrieve your business’ profile. This business profile is visible to consumers
     * in the chat thread next to the profile photo. The profile information will contain a business
     * profile ID which you can use to make API calls.
     *
     * @param string $phoneNumberID
     * @param string|null $fields Here you can specify what you want to know from your business as a
     *        comma separated list of fields. Available fields include: id, about,
     *        messaging_product, address, description, vertical, email, websites,
     *        profile_picture_url
     *
     * @return Models\GetBusinessProfileIDResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBusinessProfileID(
        string $phoneNumberID,
        ?string $fields = null
    ): Models\GetBusinessProfileIDResponse {
        //prepare query string for API call
        $_queryUrl = $this->config->getBaseUri() . '/{Phone-Number-ID}/whatsapp_business_profile';

        //process template parameters
        $_queryUrl = ApiHelper::appendUrlWithTemplateParameters($_queryUrl, [
            'Phone-Number-ID' => $phoneNumberID,
        ]);

        //process query parameters
        ApiHelper::appendUrlWithQueryParameters($_queryUrl, [
            'fields'          => $fields,
        ]);

        //prepare headers
        $_headers = [
            'user-agent'    => self::$userAgent,
            'Accept'        => 'application/json'
        ];

        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);

        // Apply authorization to request
        $this->getAuthManager('global')->apply($_httpRequest);

        //call on-before Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        // and invoke the API call request to fetch the response
        try {
            $response = Request::get($_httpRequest->getQueryUrl(), $_httpRequest->getHeaders());
        } catch (\Unirest\Exception $ex) {
            throw new ApiException($ex->getMessage(), $_httpRequest);
        }


        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpRequest);
        return ApiHelper::mapClass($_httpRequest, $_httpResponse, $response->body, 'GetBusinessProfileIDResponse');
    }
}
